---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Tara Druffel";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Tara Druffel</h1>
    <span class="badge">Software Developer</span>
    <span class="badge">UI/UX Designer</span>
    <h2>About</h2>
    <p>
Hey! I'm Tara, a software dev who loves to mix up coding with creativity. My
    tech adventure started in vocational school, diving into all things tech.
    Fast forward a bit, and I was rocking full-stack development at Sophos,
    getting my hands dirty with Java EE, JSF, and a bunch of databases. Now, I'm
    working at Opta Data where I develop an Angular application for our od:care
    nursing software.
    </p>
    <p>
But it's not all about coding; I have a great interest in UX/UI design and
    eventually took a class on CareerFoundry. Aside of that, you'll find me
    learning game development aswell as design and basic music production.
    </p>
    <h2>Interests</h2>
    <p>
I am really interested in Game Development, but not from only the coding
    front! I teach myself everything around it from design to SFX and music
    production.
    </p>
</Layout>

